:root{
  --color-secondary: hsl(333deg 100% 52%)
  --color-primary: hsl(230deg 100% 67%)
}

.display_flex{
  display: flex;
}

.external_link{
  display: block;
  text-decoration: none;
  color: hsl(210deg 25% 96%);
  font-weight: 500;
  line-height: 1.45;
}

.align_ic{
  align-items: center;
}

.margin_10{
  margin: 5px;
}

.small_spacer{
  min-width: 16px;
  min-height: 16px;
}

.max_size_container{
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 425px) {
  .max_size_container{
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 769px) {
  .max_size_container{
    padding-left: 32px;
    padding-right: 32px;
  }
  .margin_10{
    margin: 10px;
  }
}