.Tutoriales {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "last"
        "tutorials"
}

.header_wrapper{
  z-index: 3;
  background: hsl(210deg 30% 8%);
}

.arrow_container {
  padding-right: 16px;
  transform: translateX(0);
  transition: 400ms;
}

.arrow_annimated{
  color: hsl(230deg 100% 67%);
  transform: translateX(10px);
  transition: 400ms;
}

.list_wrapper{

}



@media screen and (min-width: 769px) {
  .Tutoriales {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "last tutorials"
        "last tutorials";
    gap: 64px 96px;
    padding-top: 64px;
    background: hsl(210deg 30% 8%);
  }

}